<div class="divContainer">
    <div class="main">
        <button routerLink="/login" class="btn">Login</button>
        <button (click)="signUpCompo()" class="btn">Sign Up</button>
        <button routerLink="/dataBinding" class="btn">Data Binding</button>
        <button (click)="directives()" class="btn">Directives/Pipe</button>
        <button routerLink="lifecycleHooks" class="btn">lifecycleHooks</button>
        <button routerLink="/parent" class="btn">parent</button>
        <!-- <button routerLink="/child" class="btn">child</button> -->
        <button routerLink="/subject" class="btn">Subject</button>
        <button (click)="purePipes()" class="btn">Pure Pipes</button>
        <button routerLink="/templatedriven" class="btn">TemplateDriven</button>
    </div>
<br><br><br><br>
    <div *ngIf="pipes">
        {{name | titlecase}}   
             <!-- uppercase , lowercase -->
        {{date | date:'medium'}}

    </div>
</div>