.error{
    color: red;
}

.form-container{
    height: 620px;
    background-color: bisque;
    border: 3px solid blueviolet;
    margin: auto;
    width: 400px;
    text-align: center;
    position: relative;
}

.eye-fill{
    position: relative;
    right: 23px;
}

