<!-- <p>sign-up-reactive-form works!</p> -->
<div>
    <form [formGroup]="signUpForm" class="form-container">
        <label>Name</label><br>
        <input type="text" formControlName="name" maxlength="10"><br>
        <span class="error" *ngIf="signUpForm.get('name')?.hasError('required')
             && signUpForm.get('name')?.touched">Name is Required</span><br>

        <label>Mob No.</label><br>
        <input type="text" formControlName="mobile" appNumbersOnly><br>
        <span class="error" *ngIf="signUpForm.get('mobile')?.hasError('maxlength')">
            Maximum 10 numbers are allowed</span><br>

        <label>PAN No.</label><br>
        <input type="text" formControlName="pancard"><br>
        <span class="error"
            *ngIf="signUpForm.get('pancard')?.hasError('pattern')&& !signUpForm.get('pancard')?.hasError('maxlength')">
            Invalid PAN No</span>
        <span class="error" *ngIf="signUpForm.get('pancard')?.hasError('maxlength')">
            Maxlength is 10</span><br>

        <label>Email</label><br>
        <input type="text" formControlName="email"><br><br>

        <label>Password</label><br>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" (keyup)="passwordMatchValidator()">
        <i *ngIf="show" (click)="toShowPassword()" class="bi bi-eye eye-fill"></i>
        <i *ngIf="!show" (click)="toShowPassword()" class="bi bi-eye-slash-fill eye-fill"></i>
        <br>
        <span class="error" *ngIf="misMatch">
            Password & Confirm password should equal.
        </span>  
        <br>

        <label>Confirm Password</label><br>
        <input [type]="showPassword ? 'text' : 'confirmPassword'" formControlName="confirmPassword" (keyup)="passwordMatchValidator()">
        <i *ngIf="show1" (click)="toShowPassword1()" class="bi bi-eye eye-fill"></i>
        <i *ngIf="!show1" (click)="toShowPassword1()" class="bi bi-eye-slash-fill eye-fill"></i>
        <br>
        <span class="error" *ngIf="misMatch">
            Password & Confirm password should equal.
        </span>
        <br>

        <label>City</label><br>
        <input type="text" formControlName="city">
        <br>
        <span class="error" *ngIf="signUpForm.get('city')?.hasError('spacesNotAllowed')">
            More than one space not allowed, Please Remove Spaces</span>
        <br><br>

        <button (click)="submit()">Submit</button>

    </form>
</div>